@import "../../scss//variables";

.container {
  max-height: 38vh;
  overflow: auto;
  p {
    text-align: center;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: $smallDevice) {
  .container {
    max-height: 45vh;
  }
}
