@import "../../scss//variables";

.container {
  display: flex;
  flex-direction: column;

  .features {
    width: 100%;
    position: sticky;
    justify-content: center;
  }
}

@media (min-width: $smallDevice) {
  .container {
    flex-direction: row;
    justify-content: space-around;

    .features {
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      max-width: 250px;
      position: sticky;
      top: 80px;
    }
  }
}
